doctype strict

html
	head
		title foo
		link(rel='stylesheet' type='text/css' href='/styles/main.css')
		script(src= 'https://unpkg.com/grid-overlay@1.2.1/dist/grid-overlay.min.js')

	body
		.nav 
			h2= title
			p= message
		.top
		
		.body
			.inner-content
				.space 
					p this is some paragraphs
					each person in people
						li= person

		.center
			h2 Monsters

		.body
			.inner-content
				.space 
					p 
						this is some paragraphs
				.space 
					p
						this is a para and this is lourem ipsum
					p and this is so cool
				

		.footer
			p stff
			p more stuff
			p and more and more
			.inner-footer
		

		script(src= '/js/grid-ol.js')
